@import '/src/styles/variables';
@import '/src/styles/base';


.header {
    width: 100%;
    max-width: 700px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    border: 3px solid $Header-Outline;
    border-radius: $border-radius;

    @media screen and (min-width: 420px) {
        margin-bottom: 2rem;
    }

    @media screen and (min-width: 700px) {
        padding: 2rem;
    }

    .logo {
        width: 40%;
        scale: .7;

        @media screen and (min-width: 700px) {
            scale: .9;
        }
    }

    .score {
        scale: .8;
        background: #fff;
        min-width: 32%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: calc($border-radius / 2);
        padding-inline: .5rem;

        @media screen and (min-width: 700px) {
            scale: 1;
            min-width: 0;
            padding-inline: 1rem;
        }

        &-text {
            color: $Score-Text;
            margin-bottom: -.2rem;
            font-weight: 600;
        }

        &-number {
            color: $Dark-Text;
            font-size: 3rem;
            font-weight: 700;
            margin-top: -.2rem;
        }

    }
}