@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
   

    app-root {
        width: 100%;
        min-height: 100vh;
        position: relative;
        
        .container {
            animation: fadeIn .5s ease-in-out;
            width: 100%;
            min-height: 100vh;
            padding: 10% 5%;
            background: $Radial-Gradient;
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 3rem;

            @media screen and (min-width: 1020px){
                padding: 5% 10%;
            }
        }

        .container.rules {
            position: relative;
            filter: blur(1px);

            &::after {
                content: '';
                position: absolute;
                inset: 0;
                background: #2222226e;
            }
        }
    }
}