//Primary

$Scissors-Yellow: hsl(40, 84%, 53%) ;
$Scissors-Dark-Yellow: hsl(39, 89%, 49%);
$Paper-Blue:  hsl(230, 89%, 65%);
$Paper-Dark-Blue: hsl(230, 89%, 62%);
$Rock-Red: hsl(349, 70%, 56%);
$Rock-Dark-Red: hsl(349, 71%, 52%);
$Lizard-Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%);
$Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

//Neutral

$Dark-Text: hsl(228, 25%, 31%);
$Score-Text: hsl(229, 64%, 46%);
$Header-Outline: hsl(217, 16%, 45%);

//Background

$Radial-Gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%) );

//Transition
$transition: all .3s ease-in-out;

//Border-radius
$border-radius: .4rem;
