@import '/src/styles/variables';
@import '/src/styles/base';

.pick-section {
    animation: fadeIn .3s ease-in-out;
    width: 60%;
    margin-inline: auto;
    margin-block: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scale: .7;
    max-width: 310px;

    @media screen and (min-width: 360px){
        scale: .8
    }
    @media screen and (min-width: 420px){
        scale: 1
    }


    .circle {
        position: absolute;
        scale: 1;
        width: 7.6rem;
        height: 7.6rem;
        border-radius: 50%;
        padding: 1.3rem;
        background: #fff;
        cursor: pointer;

        @media screen and (min-width: 520px){
            scale: 1.4
        }
        @media screen and (min-width: 1020px){
            scale: 1.6
        }

        &.paper {
            top: 0;
            left: -70%;
            translate: 0 -50%;
            border: .8rem solid $Paper-Blue;
            box-shadow: .5px 7.5px 1px #2e4ce2, inset 2px 7px 1px #dddef6;
            @media screen and (min-width: 360px){
                left: -40%
            }
            @media screen and (min-width: 420px){
                left: -20%
            }
        }
        &.scissors {
            top: 0;
            right: -70%;
            translate: 0 -50%;
            border: .8rem solid $Scissors-Yellow; 
            box-shadow: .5px 7.5px 1px  #c17f04, inset 2px 7px 1px  #dddef6;

            @media screen and (min-width: 360px){
                right: -40%
            }
            @media screen and (min-width: 420px){
                right: -20%
            }
        }
        &.rock {
            bottom: 0;
            translate: 0 50%;
            border: .8rem solid $Rock-Red;
            box-shadow: .5px 7.5px 1px #cd0429, inset 2px 7px 1px  #dddef6;
        }
    }

  
}