<div class="pick-section">
    <img src="assets/images/bg-triangle.svg" alt="">

    <div (click)="this.service.pickOne(paper)" class="circle paper">
        <img  src="assets/images/icon-paper.svg" alt="">
    </div>
    <div (click)="this.service.pickOne(scissors)" class="circle scissors">
        <img src="assets/images/icon-scissors.svg" alt="">
    </div>
    <div (click)="this.service.pickOne(rock)" class="circle rock">
        <img src="assets/images/icon-rock.svg" alt="">
    </div>
</div>
